body {
    background-color: white;
    color: #ffc0cb;
}

.main {
    display: grid;
    place-items: center;
}
button {
    color: inherit;
    height: 100px;
    width: 350px;
    border-radius: 30px;
    font-size: 50px;
    border-style: none;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 
.hidden {
    display: none;
}

h1 {
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.timer {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 69px;
    font-family: 'bitcount-single-font';
}

img {
    height: 100px;
    padding-left: 700px;
}

@font-face {
    font-family: 'bitcount-single-font'; /*a name to be used later*/
    src: url(BitcountSingle-VariableFont_CRSV,ELSH,ELXP,slnt,wght.ttf); /*URL to font*/
}

@keyframes myAnimation {
  0%   {background-color: #ffffff;}
  25%  {background-color: #af7777;}
  50%  {background-color: #794242;}
  100% {background-color: #0d0505;}
}

.animation {
    animation-name: myAnimation;
    animation-duration: 100s;
}

.break-btn {
    height: 40px;
    font-size: 20px;
    width: 200px;
    border-style: dashed;
    border-color: #bdd1d6;
    color: #53767f;
    padding: 0;
    margin: 0;
}

.break-popup {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 500px;
    width: 500px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: #93acc5;
    color: whitesmoke;
    font-family: 'bitcount-single-font';
    font-size: 40px;
    text-align: center;
}

.start-break-btn {
    color:#242838;
    width: 200px;
}